{% load static %}
<!DOCTYPE html>
<html lang="es">
    <nav>
        <a href="{% url 'index' %}">Volver a la Página Principal</a>
    </nav>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <title>NightGames - contacto</title>
    </head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Tu Empresa de Videojuegos de PS4</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Contacto</h1>
    </header>

    <div class="container">
        <h2>Información de Contacto</h2>
        <p>Puedes ponerte en contacto con nosotros a través de los siguientes medios:</p>

        <h3>Correo Electrónico</h3>
        <p>Para consultas generales: <a href="mailto:info@tuempresadevideojuegos.com">info@tuempresadevideojuegos.com</a></p>

        <h3>Teléfono</h3>
        <p>Número de atención al cliente: +123 456 7890</p>

        <h3>Redes Sociales</h3>
        <p>Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades y promociones:</p>
        <ul>
            <li><a href="https://facebook.com/tuempresadevideojuegos">Facebook</a></li>
            <li><a href="https://twitter.com/tuempresadevideojuegos">Twitter</a></li>
            <li><a href="https://instagram.com/tuempresadevideojuegos">Instagram</a></li>
        </ul>

        <h2>Equipo de Atención al Cliente</h2>
        <p>Si necesitas ayuda adicional o tienes alguna pregunta específica, no dudes en contactar a nuestro equipo de atención al cliente:</p>
        <ul>
            <li><strong>D'Angelo Loyola</strong> - Ventas y Soporte: <a href="mailto:dangelo@tuempresadevideojuegos.com">dangelo@tuempresadevideojuegos.com</a></li>
            <li><strong>Nicolás Valenzuela</strong> - Servicio al Cliente: <a href="mailto:nicolas@tuempresadevideojuegos.com">nicolas@tuempresadevideojuegos.com</a></li>
        </ul>
    </div>

</body>
</html>
