{% load static %}
<!DOCTYPE html>
<html lang="es">
    <nav>
        <a href="{% url 'index' %}">Volver a la Página Principal</a>
    </nav>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <title>NightGames - Terror</title>
    </head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes Somos - Tu Empresa de Videojuegos de PS4</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Quiénes Somos</h1>
    </header>

    <div class="container">
        <h2>Nuestra Historia</h2>
        <p>Somos una empresa apasionada por los videojuegos, especializada en la venta de juegos de PS4 desde el año 2020. Desde nuestros inicios, nos hemos comprometido a ofrecer la mejor experiencia de compra a nuestros clientes.</p>

        <h2>Nuestro Lema</h2>
        <p>"¡Explora, juega, vive!"</p>

        <h2>Valores de la Empresa</h2>
        <ul>
            <li>Compromiso con la calidad: Nos esforzamos por ofrecer los mejores productos y servicios a nuestros clientes.</li>
            <li>Pasión por los videojuegos: Somos entusiastas de los videojuegos y compartimos nuestra pasión con nuestros clientes.</li>
            <li>Excelencia en el servicio al cliente: Nos preocupamos por cada cliente y nos esforzamos por brindar una experiencia excepcional en cada interacción.</li>
            <li>Innovación constante: Buscamos continuamente nuevas formas de mejorar y adaptarnos a las necesidades cambiantes del mercado.</li>
            <li>Responsabilidad social: Nos comprometemos a operar de manera ética y responsable, contribuyendo positivamente a nuestra comunidad.</li>
        </ul>

        <h2>Por qué Elegirnos</h2>
        <p>En nuestra empresa, no solo vendemos videojuegos; creamos experiencias. Nuestro equipo está formado por amantes de los videojuegos que comparten su conocimiento y entusiasmo con cada cliente. Trabajamos duro para garantizar que cada compra sea una experiencia emocionante y satisfactoria. ¡Únete a nuestra comunidad y descubre un mundo de diversión y aventura!</p>
    </div>
    

</body>
</html>
